<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>RTikDown - TikTok Downloader</title>
<link rel="stylesheet" href="/lib/bootstrap.min.css">
<link rel="stylesheet" href="/lib/bootstrap-icons.css">
<link rel="stylesheet" href="/css/style.css">
