<div class="bg">
  <p class="title"><i class="bi bi-tiktok"></i> Tiktok Downloader</p>
  <div class="box">
    <img src="<%= rtik.video.cover %>" class="img-thumbnail" alt="...">
    <div class="cbody">
    <div class="card-body">
      <h5 class="card-title"><%= rtik.title %></h5>
      <p class="card-text">Durasi: <%= rtik.video.durationFormatted %></p>
      <form action="" method="GET">
        <input type="url" name="url" value="<%= url %>" hidden>
        <input type="text" name="type" value="mp4" hidden>
        <button class="button" type="submit">Download Video (MP4)</button>
      </form>
      <form action="" method="GET">
        <input type="text" name="type" value="mp3" hidden>
        <button class="button" type="submit">Download Audio (MP3)</button>
      </form>
    </div>
    </div>
  </div>
</div>
<script src="/lib/bootstrap.min.js"></script>
<script src="/js/index.download.js"></script>
