<div class="bg">
  <p class="title"><i class="bi bi-tiktok"></i> Tiktok Downloader</p>
  <div class="box">
    <form class="form" action="/download/" method="GET">
      <div class="inp-group">
        <p class="inp-title">Link:</p>
        <input class="inp-input" type="url" name="url" placeholder="https://vm.tiktok.com/ZS8HnVBGR/" required>
      </div>
      <input class="inp-button" type="submit" value="Download">
    </form>
  </div>
</div>
<script src="/lib/bootstrap.min.js"></script>
<script src="/js/index.js"></script>